<header class="main-header content-wrapper">

  <input type="checkbox" id="menu-checkbox" />

  <nav class="center-wrapper nav-main">
    {% if page.lang == 'sv' %}
      <a class="blog-logo" href="{{ site.baseurl }}/index_sv/">{{ site.title_sv }}</a>
    {% endif %}

    {% if page.lang == 'fi' %}
      <a class="blog-logo" href="{{ site.baseurl }}/index_fi/">{{ site.title_fi }}</a>
    {% endif %}

    {% if page.lang == 'en' %}
      <a class="blog-logo" href="{{ site.baseurl }}/">{{ site.title }}</a>
    {% endif %}
    
    {% assign pages=site.pages | where:"lang", page.lang %}

    {% for my_page in pages %}
			{% unless my_page.exclude %}
	      {% if my_page.active %}
	        <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
	      {% endif %}
			{% endunless %}
    {% endfor %}

    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
    {% assign lang_posts=site.posts | where:"active", page.active | sort: 'lang' %}
    {% for post in lang_posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="select-language">{{ post.lang }}</a> {% endfor %}


    {% assign lang_pages=site.pages | where:"active", page.active | sort: 'lang' %}
    {% for page in lang_pages %} <a href="{{ page.url | prepend: site.baseurl }}" class="select-language">{{ page.lang }}</a> {% endfor %}

    <label for="menu-checkbox" class="toggle-button" data-open="☰" data-close="☰" onclick></label>
  </nav>

</header>
